a {
  text-decoration: none;
}

.wrapper {
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 100%;
  background-image: url('../../assets/background.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 1080px;
  background-size: cover;
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding-top: 45px;
  display: flex;
  justify-content: space-around;

}

.logo {
  width: 5%;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.links {
  width: 40%;
}

.links a{
  font-family: 'Raleway', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.links ul {
  display: flex;
  justify-content: space-around;
}

.icons {
  width: 12%;
}

.icons ul {
  display: flex;
  justify-content: space-between;
}

.icons a {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

.wrapperText {
  text-align: center;
}

.wrapperText .title {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 144px;
  line-height: 169px;
  margin-bottom: 0;
}

.wrapperText .subTitle {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 113px;
  margin-top: 20px;
  margin-bottom: 180px;
}

button {
  font-family: 'Raleway', sans-serif;
  color: white;
  background: #238FF2;
  border-radius: 33px;
  width: 330px;
  height: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  border: none;
}
