ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.footer {
    height: 390px;
    max-width: 1200px;
    margin: 0 auto;
}

.partners {
    height: 130px;
}

.footerContent {
    height: 221.33px;
    display: flex; 
    font-size: 18px;
}

.footerContent .logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.footerContent .title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 40px;
    margin-right: 52px;
}

.moreContent {
    margin-left: 10%;
}

.moreContent li a {
    color: #0A142F;
}

.media {
    width: 100px;
    margin-left: 500px;
}

.mediaList{
    display: flex;
    justify-content: space-between;
}

.bottomFooter {
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #4A4A4A;
}

.bottomFooter p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0A142F;
}