

a {
    text-decoration: none;
}

.footer {
    height: 50vh;
    max-width: 99%;
    margin: 0 auto;
}

.partners {
    height: 50%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.partners_logo img{
    height: 4rem;
    width: 5rem;
}

.partners_left , .partners_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;

}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: start;
}

.footerContent .logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.footerContent .title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.9vw;
}

.contacts_content , .moreContent_links{
    margin: 3vh 0 !important;
}

.moreContent {
}

.moreContent li a {
    color: #0A142F;
}


.media {
    height: 10%;
}

.mediaList{
    margin: 3vh 0 !important;
    display: flex;
    justify-content: space-between;
}
.mediaList {
    margin: auto;
}

.bottomFooter {
    mix-blend-mode: normal;
    opacity: 0.2;
    border: 1px solid #4A4A4A;
}

.bottomFooter p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0A142F;
}